<div id="container">
    <div id="borderLogo404">
        <h1 id="erro404">404</h1>
    </div>
    <h2 id="pageNotFound">Página não encontrada</h2>
    <a href="/contatos" id="btnHome" class="btn btnHead">Voltar ao site</a>
</div>